li{
    list-style-type: none;
    color: gray;
    width: 250px;
    height: 250px;
    margin: 20px;
    text-align: center; 
    float: left;
    
}
img{

    height: 150px;
    width: 100%;
}
button{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.azul{

    color: blue;
}
.azulo{
    color: darkblue;
}
.rojo{
    color: red;
}
.rojoo{
    color: darkred;
}
.verde{
    
    color: green;
}
.violeta{
    color: violet;
}
.bazul{

    background-color: blue;
}
.bazulo{
    background-color: darkblue;
}
.brojo{
    background-color: red;
}
.brojoo{
    background-color: darkred;
}
.bverde{
    background-color: green;
}
.bvioleta{
    background-color: violet;
}
.negro{
    color: black;
}
.blanco{
    color: white;
}
